button {
    width: 200px;
    background-color: #00ffff;
    border: none;
    color: #000;
    cursor: pointer;
    padding: 10px 25px;
}

button:hover {
    background-color: #000;
    color: #fff;
    transition: all .35s;
}