button {
    width: 120px;
    background-color: #00ffff;
    border: none;
    color: #000;
    cursor: pointer;
    padding: 10px 25px;
}

button:hover {
    background-color: black;
    color: #fff;
    transition: all .35s;
    cursor: pointer;
}